.main-input-search-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.input-search-menu {
    width: 280px;
    height: 20px;
}