.main-input-search-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
}

.img-rest {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
}

.image-class {
    width: 700px;
    height: auto;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
}

.img-rest-container {
    position: relative;
    margin-top: 22px;
}

.rest-title {
    display: flex;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 35px;
    padding: 5px 10px;
    font-weight: 600;
    top: 85%;
    left: 20%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: white;
    -webkit-text-stroke: 2px black;
}

.categories-container {
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.category {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cart {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 25px;
    align-items: center;
    width: 500px;
    height: 550px;
    margin-top: 20px;
    margin-left: 20px;
    background: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
}